Repository openfoodfacts/openfoodfacts-ios, pull requests merged in 2020-01, with the labels that each got.

#546 #545 login button is always enabled.
  Sources/ViewControllers/User/UserViewController.swift
Labels: bug

#551 Ignore scan of invalid barcodes. Fix #304
  OpenFoodFacts.xcodeproj/project.pbxproj
  Sources/AppDelegate.swift
  Sources/Models/API/Taxonomies/InvalidBarcode.swift
  Sources/Models/DataManager.swift
  Sources/Models/PersistenceManager.swift
  Sources/Network/TaxonomiesService.swift
  Sources/ViewControllers/Products/Search/ScannerViewController.swift
  Tests/Common/DataManagerMock.swift
Labels: feature, scan

#550 Feature/promo system home #154
  OpenFoodFacts.xcodeproj/project.pbxproj
  OpenFoodFacts.xcodeproj/xcshareddata/xcschemes/OpenFoodFacts.xcscheme
  Sources/Models/API/Taxonomies/Tagline.swift
  Sources/Models/DataManager.swift
  Sources/Models/PersistenceManager.swift
  Sources/Network/OfflineProductsService.swift
  Sources/Network/TaxonomiesService.swift
  Sources/ViewControllers/Products/Search/SearchTableViewController.swift
  Sources/Views/Products/Search/StateViews/InitialView.swift
  Sources/Views/Products/Search/StateViews/InitialView.xib
  Tests/Common/DataManagerMock.swift
Labels: feature, home
