Repository openfoodfacts/openfoodfacts-ios, pull requests merged in 2020-10, with the labels that each got.

#720 WIP: Taxonomy model for Label is not correct
  Sources/Helpers/OFFUrlsHelper.swift
  Sources/Models/API/OFFReadAPIkeysJSON.swift
  Sources/Models/API/Product.swift
  Sources/Models/API/Taxonomies/Label.swift
  Sources/Models/DataManager.swift
  Sources/Models/PersistenceManager.swift
  Sources/Models/Transforms/TagTransform.swift
  Sources/Network/TaxonomiesParser.swift
  Sources/Network/TaxonomiesRequest.swift
  Sources/Network/TaxonomiesService.swift
  Sources/Protocols/TaxonomiesParserProtocol.swift
  Sources/ViewControllers/Products/Detail/ProductDetailViewController.swift
  Tests/Models/PersistenceManagerMock.swift
Labels: P1, product-browsing

#760 WIP Stopgap for translation of energy-kcal
  Sources/ViewControllers/Products/Add/ProductAddViewController.swift
  Tests/Models/DataManagerSpec.swift
Labels: nutrients, taxonomies

#757 #739 Tabbar Item titles are localizable
  Sources/Localization/en.lproj/Localizable.strings
  Sources/ViewControllers/Products/Search/ScannerViewController.swift
  Sources/Views/Main.storyboard
Labels: bottom navigation

#771 Long allergen statuts text
  Sources/Views/Settings/IngredientsAnalysisSettingsTableViewCell.xib
Labels: ingredient analysis, layout, settings

#756 Hide "City and country of purchase"
  Sources/ViewControllers/Products/Detail/ProductDetailViewController.swift
Labels: product-browsing

#768 Show call to action and edit button
  Sources/Localization/en.lproj/Localizable.strings
  Sources/ViewControllers/Products/Detail/FormTableViewController.swift
  Sources/ViewControllers/Products/Detail/Summary/SummaryHeaderCellController.swift
  Sources/ViewControllers/Products/Search/ScannerResultViewController.swift
  Sources/Views/Products/Search/Scanner/ScanProductSummaryView.swift
  Sources/Views/Products/Search/Scanner/ScanProductSummaryView.xib
  Sources/Views/Products/Search/Scanner/ScanProductSummaryViewAdaptor.swift
Labels: road-to-scores, scan

#755 Spinner starts after hitting search.
  Sources/ViewControllers/Products/Search/SearchTableViewController.swift
Labels: search

#761 Hide the action labels, when they are no longer needed.
  Sources/ViewControllers/Products/Add/ProductAddViewController.swift
  Sources/Views/Products/Add/ProductAddViewController.storyboard
Labels: product-browsing, road-to-scores

#762 Reformatted the Nova data on the ingredients page.
  Sources/ViewControllers/Products/Detail/Ingredients/IngredientsHeaderCellController.swift
  Sources/Views/Products/Detail/Ingredients/IngredientsHeaderCellController.xib
Labels: nova, product-browsing

#748 Product Attributes API model
  Sources/Models/API/Product.swift
  Sources/Models/API/ProductAttributes.swift
  Sources/Models/API/ProductAttributesReadAPI.swift
  Sources/Models/API/ProductsResponse.swift
  Sources/Network/ProductService.swift
Labels: ecoscore, product-attributes, product-browsing

#770 Added a button next to the ingredients analysis icons
  Sources/ViewControllers/Products/Search/ScannerViewController.swift
Labels: ingredient analysis, scan
