Repository openfoodfacts/openfoodfacts-ios, pull requests merged in 2020-12, with the labels that each got.

#813 Disable fastlane translations in iOS
  crowdin.yml
Labels: fastlane, translations

#820 Labels and categories non-taxonomized fields
  Sources/Extensions/String.swift
  Sources/Models/API/OFFReadAPIkeysJSON.swift
  Sources/Models/API/Product.swift
  Sources/ViewControllers/Products/Detail/ProductDetailViewController.swift
Labels: product-browsing, taxonomies

#810 Added packaging images support to add/edit product
  Sources/AppDelegate.swift
  Sources/Models/DataManager.swift
  Sources/Models/PendingUploadItem.swift
  Sources/Models/PersistenceManager.swift
  Sources/Models/Realm/RealmPendingUploadItem.swift
  Sources/ViewControllers/Products/Add/PictureTableViewController.swift
  Sources/ViewControllers/Products/Detail/Environment Impact/EnvironmentHeaderCellController.swift
  Sources/Views/Products/Add/ProductAddViewController.storyboard
  Sources/Views/Settings/Settings.storyboard
  Sources/Views/User/PendingUploadItemCell.swift
  Tests/Models/DataManagerSpec.swift
Labels: ecoscore, packaging, product-editing

#823 Removed alpha ecoscore
  Sources/Models/API/OFFReadAPIkeysJSON.swift
Labels: ecoscore

#860 Added origins field to add/edit product
  Sources/Localization/en.lproj/Localizable.strings
  Sources/Localization/nl-BE.lproj/Localizable.strings
  Sources/Localization/nl.lproj/Localizable.strings
  Sources/Models/PendingUploadItem.swift
  Sources/ViewControllers/Products/Add/ProductAddViewController.swift
  Sources/ViewControllers/Products/Detail/ProductDetailViewController.swift
  Sources/Views/Products/Add/ProductAddViewController.storyboard
Labels: ecoscore, product-browsing, product-editing
