Repository openfoodfacts/openfoodfacts-ios, pull requests merged in 2020-06, with the labels that each got.

#657 Use standard action icon for csv history export.
  Sources/Views/Main.storyboard
Labels: UI

#666 fix pH
  Sources/Localization/en.lproj/Localizable.strings
Labels: translations

#671 Progress indicator added
  Sources/Models/API/Product.swift
  Sources/Models/API/ProductImage.swift
  Sources/Models/ViewModel/PictureViewModel.swift
  Sources/Network/ProductService.swift
  Sources/ViewControllers/Common/TakePictureViewController.swift
  Sources/ViewControllers/Products/Add/CircularProgressBar.swift
  Sources/ViewControllers/Products/Add/PictureTableViewCell.swift
  Sources/ViewControllers/Products/Add/PictureTableViewController.swift
  Sources/ViewControllers/Products/Detail/FormTableViewController.swift
  Sources/ViewControllers/Products/Detail/Ingredients/IngredientsHeaderCellController.swift
  Sources/ViewControllers/Products/Detail/NutritionTable/NutritionTableHeaderCellController.swift
  Sources/ViewControllers/Products/Detail/ProductDetailViewController.swift
  Sources/ViewControllers/Products/Detail/Summary/SummaryFooterCellController.swift
  Sources/ViewControllers/Products/Detail/Summary/SummaryHeaderCellController.swift
  Sources/Views/Products/Add/ProductAddViewController.storyboard
  Sources/Views/Products/Detail/Common/IconButtonView.swift
  Sources/Views/Products/Detail/Common/IconButtonView.xib
  Sources/Views/Products/Detail/Common/PictureCallToActionView.swift
  Sources/Views/Products/Detail/Common/PictureCallToActionView.xib
Labels: UI, image upload

#668 Prepare for universal links
  OpenFoodFacts.entitlements
  Sources/AppDelegate.swift
  apple-app-site-association
Labels: P1

#667 Refactoring and improvements
  Sources/Helpers/NotificationCenterToken.swift
  Sources/Models/Common/NutritionTableRow.swift
  Sources/Network/TaxonomiesParser.swift
  Sources/Network/TaxonomiesRequest.swift
  Sources/Network/TaxonomiesService.swift
  Sources/Protocols/TaxonomiesParserProtocol.swift
  Sources/ViewControllers/Products/Detail/FormTableViewController.swift
  Sources/ViewControllers/Products/Detail/ProductDetailViewController.swift
  Sources/ViewControllers/Products/Search/SearchTableViewController.swift
  Sources/ViewControllers/RootViewController.swift
Labels: refactoring, taxonomies

#680 Added warnings for nutriscore
  Sources/Localization/en.lproj/Localizable.strings
  Sources/Models/API/OFFReadAPIkeysJSON.swift
  Sources/Models/API/Product.swift
  Sources/Models/Common/NutritionTableRow.swift
  Sources/ViewControllers/Products/Detail/ProductDetailViewController.swift
  Sources/Views/Products/Detail/Common/NutriScoreView.swift
  Sources/Views/Products/Detail/Common/NutriScoreView.xib
  Sources/Views/Products/Detail/Nutrition/NutritionHeaderTableViewCell.swift
  Sources/Views/Products/Detail/Nutrition/NutritionHeaderTableViewCell.xib
Labels: nutriscore, product-browsing

#688 Fix for translations
  Sources/Localization/en.lproj/Localizable.strings
Labels: translations
